ARITHMETIC

In [100]:
10+30

40

In [101]:
10-3

7

In [102]:
10*20

200

In [103]:
10/3

3.3333333333333335

In [104]:
10//3

3

In [105]:
10%3

1

In [106]:
10**3

1000

    ASSIGNMENT

In [107]:
x=10
x+=5
x

15

In [108]:
x-=5
x

10

In [109]:
x*=5
x

50

In [110]:
x//=5
x

10

In [111]:
x/=5
x

2.0

In [112]:
x**=5
x

32.0

COMPARISON

In [113]:
x==5

False

In [114]:
x<5

False

In [115]:
x>5

True

In [116]:
x!=5

True

In [117]:
x>=5

True

In [118]:
x<=5

False

LOGICAL

In [119]:
x<5 and x<32

False

In [120]:
x<5 or x<33

True

In [122]:
not x<5 and x<34

True

**Identity**

In [123]:
x=[1,2,3]
y=x

In [124]:
x==y

True

In [125]:
x is y

True

In [126]:
z=x.copy()

In [129]:
x==z

True

In [128]:
x is z

False

Membership

In [130]:
colors=['red','green','blue']

In [131]:
'red' in colors

True

In [132]:
'fghjkl' in colors

False

In [133]:
'fghjkl' not in colors

True

Bitwise

In [134]:
msg=input()

In [135]:
msg

'bla bla bla'

In [147]:
name=input("enter your name: ")
age=input("enter  your age:")
school=input("enter your school name:")

In [149]:
name

'vbnmm'

In [146]:
school

'vbnm,'

In [143]:
age

'67890'

In [151]:
age=int(age)
type(age)

int

In [154]:
radius=input("enter the radius of the circle: ")
radius=float(radius)
area=3.14* radius**2
print(area)

28.26

In [156]:
p=float(input("enter principal:"))
r=float(input("enter rate:"))
t=float(input("enter time:"))
ans=(p*r*t)/100
print(ans)

6.0

In [3]:
z=1.323
z1=int(z)
type(z)

float

In [2]:
type(z1)

int

In [4]:
x='1000'
y='12'
x+y

'100012'

In [9]:
x=int(x)
y=int(y)
print(x+y)
print(x)
print(y)
print(type(x))

1012
1000
12
<class 'int'>

In [10]:
print('Brandon','Smith')

Brandon Smith

In [11]:
print("cvbnmdfghjkl")

cvbnmdfghjkl

In [29]:
print(1,2,3,4)
print(1,2,3,4, sep='*')
#use window and . for emoji
print(1,2,3,4, sep='üëç', end='&')

1 2 3 4
1*2*3*4
1üëç2üëç3üëç4&

In [23]:
print(1,2,3,end='üëÄ')
print(4,5,6)

1 2 3üëÄ4 5 6

***Ways of printing***

1. Comma separated method

In [25]:
qty=10
fruit='apple'
print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

2. f-string format

In [42]:
a=23
b=13
c=a/b
name='something'
type_of_company='educational'
print(f'{name} is an {type_of_company} institute')
print(f'{a}/{b} is equals to {c}')

something is an educational institute
23/13 is equals to 1.7692307692307692

3. Concatination style

In [41]:

print(str(a)+' / '+str(b)+'is equals to '+str(c))

23 / 13is equals to 1.7692307692307692

4. Python formatting for version before 3.6

In [34]:
print('{}/{} is equals to {}'.format(a,b,c))

23/13 is equals to 1.7692307692307692

5. C style printing

In [36]:
print('%d/%d is equals to %f'%(a,b,c))

23/13 is equals to 1.769231

Rounding off in f string

In [44]:
print(f'divide 10/3 {10/3:.3f}')

divide 10/3 3.333