In [2]:
my_string='Hello'
print(my_string)

Hello

In [3]:
my_string="Hello"
print(my_string)

Hello

In [7]:
my_string='''Hello'''
print(my_string)

Hello

>>Triple quote used to represent multiline
>>string
>>and
>>docstring

In [5]:
my_string='''Hello, welcome to the 
world of python'''
print(my_string)

Hello, welcome to the
world of python

In [13]:
x="sophomore"
print(x[0])
print(x[3])
print(x[-1])#last character

s
h
e

Slicing

In [12]:
s='hello people'
slice=s[2:4]
print(slice)

ll

In [15]:
a='digibox'
slice1=a[0:4]
slice2=a[:4]
print(slice1)
print(slice2)

digi
digi

In [16]:
slice3=a[4:len(a)]
slice4=a[4:]
print(slice3)
print(slice4)

box
box

In [17]:
name='Ananya Misra'
fname=name[:6]
lname=name[7:]
print(fname+" "+lname)

Ananya Misra

In [20]:
name[::2]#every even index char

'Aay ir'

In [19]:
name[1::2]#every odd index char

'nnaMsa'

In [22]:
name[:4][::-1][:]

'nanA'

In [18]:
name[::-1]#reverse string

'arsiM aynanA'

In [27]:
word="Encyclopedia"
word[2:-2]

'cycloped'

In [28]:
x=chr(65)
print(x)

A

In [29]:
x=chr(2365)
print(x)

ऽ

In [30]:
x=chr(12365)
print(x)

き

In [ ]:
for i in range(500):
    print(chr(i), end='')

In [37]:
y=ord('A')
print(y)

65

In [36]:
y=ord('a')
print(y)

97

In [35]:
y=ord('{')
print(y)

123

In [38]:
print(len("girl"))

4

In [41]:
w1='This'
w2='is'
w3='amazing'
print(w1+' '+w2+' '+w3)   #adding spaces
print(w1+w2+w3)

This is amazing
Thisisamazing

In [44]:
word='hi'
print(word*3) #duplication
print('-'*25)

hihihi
-------------------------

In [45]:
name.split()

['Ananya', 'Misra']

*utilty-perform various utility actions
*validation function-checkif a string contain certain pattern or not
*formatting function-tranform a string into another string

In [1]:
msg='Welcome to Strings'
msg.lower()

'welcome to strings'

In [2]:
msg.title() #every letter of the string is capitalizied
msg.capitalize() #only first letter of the whole string is capitalized
msg.upper()
msg.swapcase()#swaps lower to upper and vice versa

'wELCOME TO sTRINGS'

*Allignment function*

In [3]:
msg.ljust(80)

'Welcome to Strings                                                              '

In [4]:
msg.ljust(80,'&')

'Welcome to Strings&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&'

In [5]:
msg.rjust(80,'&')

'&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Welcome to Strings'

In [6]:
msg.center(80)

'                               Welcome to Strings                               '

In [7]:
msg.center(80,'-')

'-------------------------------Welcome to Strings-------------------------------'

In [8]:
word=["ArithmeticError","AssertionError","AttributeError"]
for words in word:
    print(words.ljust(30),len(words))

ArithmeticError                15
AssertionError                 14
AttributeError                 14

In [9]:
word=["ArithmeticError","AssertionError","AttributeError"]
for words in word:
    print(words.ljust(30,'-'),len(words))

ArithmeticError--------------- 15
AssertionError---------------- 14
AttributeError---------------- 14

In [10]:
a='Hello'
a.isalpha()

True

In [11]:
a='Hello World'
a.isalpha() #sice space is not alphaber so false

False

In [12]:
'5678'.isnumeric()

True

In [14]:
'b6789'.isnumeric()

False

In [16]:
#to check for both alphabet and numeric
'Hello wrld 78'.isalnum() #because of space

False

In [17]:
'100'.isalnum()

True

In [18]:
b='something💕' #since emoji is not included in ascii
b.isascii()

False

In [20]:
b.istitle()

False

In [21]:
'break'.isidentifier()

True

In [23]:
a=input("Enter a number")
if a.isnumeric():
    a=int(a)
    print("Well done,you enterd a number")
else:
    print("Not a number")

Not a number

In [27]:
x='Dr. Smith'
print(a.startswith('Dr. '))
print(a.startswith('Me. '))

False
False

In [26]:
files=['apple.py','banana.ipynb','cherry.md','document.ipynb']
for file in files:
    if file.endswith('.ipynb'):
        print(f'{file} is a notebook')
    elif file.endswith('.py'):
        print(f'{file} is python file')
    elif file.endswith('.md'):
        print(f'{file} is readme file')
    else:
        print(f'{file} is not  recognized')

apple.py is python file
banana.ipynb is a notebook
cherry.md is readme file
document.ipynb is a notebook

3.utility function

In [31]:
msg="Once upon a time, there was a very good prgrammer, who was good at prgramming, the end"

In [32]:
msg.split()

['Once',
 'upon',
 'a',
 'time,',
 'there',
 'was',
 'a',
 'very',
 'good',
 'prgrammer,',
 'who',
 'was',
 'good',
 'at',
 'prgramming,',
 'the',
 'end']

In [33]:
words=msg.split()
print(words)

['Once', 'upon', 'a', 'time,', 'there', 'was', 'a', 'very', 'good', 'prgrammer,', 'who', 'was', 'good', 'at', 'prgramming,', 'the', 'end']

In [34]:
msg.split(',')

['Once upon a time',
 ' there was a very good prgrammer',
 ' who was good at prgramming',
 ' the end']

In [36]:
msg.split(maxsplit=5) # split for first 5 times and remainings words were stacked together

['Once',
 'upon',
 'a',
 'time,',
 'there',
 'was a very good prgrammer, who was good at prgramming, the end']