In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
#we can limit the no of columns we want to see None=>show all columns
pd.set_option('display.max_columns',None)

In [44]:
df=pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',skiprows=20,skipfooter=2)

In [45]:
df.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
5,Immigrants,Foreigners,Angola,903,Africa,911,Middle Africa,902,Developing regions,1,3,6,6,4,3,5,5,11,6,8,23,26,22,8,26,38,27,58,49,70,169,168,165,268,295,184,106,76,62,61,39,70,45
6,Immigrants,Foreigners,Antigua and Barbuda,904,Latin America and the Caribbean,915,Caribbean,902,Developing regions,0,0,0,0,42,52,51,61,34,51,31,59,61,44,18,23,21,27,19,12,13,25,17,25,14,24,32,15,32,38,27,37,51,25
7,Immigrants,Foreigners,Argentina,904,Latin America and the Caribbean,931,South America,902,Developing regions,368,426,626,241,237,196,213,519,374,538,678,763,1023,1022,366,380,396,391,349,318,427,635,865,1745,1591,1153,847,620,540,467,459,278,263,282
8,Immigrants,Foreigners,Armenia,935,Asia,922,Western Asia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,22,21,66,75,102,115,89,112,124,87,132,153,147,224,218,198,205,267,252,236,258,207
9,Immigrants,Foreigners,Australia,909,Oceania,927,Australia and New Zealand,901,Developed regions,702,639,484,317,317,319,356,467,410,553,620,640,734,886,702,668,699,623,479,523,599,799,747,876,930,909,875,1033,1018,1018,933,851,982,1121

In [46]:
#1. fix column names
# axis=1 function is applied row-wise on the DataFrame
# axis=1 means search the names and rename them column wise rather than row wise

df.rename({
    'OdName':'Country',
    'RegName':'Region',
    'AreaName':'Continent',
    'DevName':'CountryStatus'
},inplace=True,axis=1)

In [47]:
df

,Type,Coverage,Country,AREA,Continent,REG,Region,DEV,CountryStatus,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [48]:
#2. fix column dtypes
# requirement for visualization
df.columns

Index([         'Type',      'Coverage',       'Country',          'AREA',
           'Continent',           'REG',        'Region',           'DEV',
       'CountryStatus',            1980,            1981,            1982,
                  1983,            1984,            1985,            1986,
                  1987,            1988,            1989,            1990,
                  1991,            1992,            1993,            1994,
                  1995,            1996,            1997,            1998,
                  1999,            2000,            2001,            2002,
                  2003,            2004,            2005,            2006,
                  2007,            2008,            2009,            2010,
                  2011,            2012,            2013],
      dtype='object')

In [49]:
#function is in place so we need to print it
df.columns=df.columns.astype('str') #convert every column to string
print(df.columns)

Index(['Type', 'Coverage', 'Country', 'AREA', 'Continent', 'REG', 'Region',
       'DEV', 'CountryStatus', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'],
      dtype='object')

In [50]:
df

,Type,Coverage,Country,AREA,Continent,REG,Region,DEV,CountryStatus,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

In [51]:
print(df['Type'].value_counts())
print()
print(df['Coverage'].value_counts())
print()
print(df['Continent'].value_counts())
print()
print(df['Region'].value_counts())
print()
print(df['CountryStatus'].value_counts())
print()

Immigrants    195
Name: Type, dtype: int64

Foreigners    194
Citizens        1
Name: Coverage, dtype: int64

Africa                             54
Asia                               49
Europe                             43
Latin America and the Caribbean    33
Oceania                            14
Northern America                    2
Name: Continent, dtype: int64

Western Asia                 18
Eastern Africa               17
Western Africa               16
Southern Europe              14
Caribbean                    13
South America                12
Northern Europe              10
South-Eastern Asia           10
Eastern Europe               10
Southern Asia                 9
Middle Africa                 9
Western Europe                9
Central America               8
Eastern Asia                  7
Northern Africa               7
Southern Africa               5
Central Asia                  5
Polynesia                     4
Melanesia                     4
Micronesia                    4
Australia and New Zealand     2
Northern America              2
Name: Region, dtype: int64

Developing regions    147
Developed regions      48
Name: CountryStatus, dtype: int64

In [52]:
df.describe(include='object')

,Type,Coverage,Country,Continent,Region,CountryStatus
count,195,195,195,195,195,195
unique,1,2,195,6,22,2
top,Immigrants,Foreigners,Afghanistan,Africa,Western Asia,Developing regions
freq,195,194,1,54,18,147

In [53]:
#remove unrequired columns
cols_to_drop=['Type','Coverage','AREA','REG','DEV']
df.drop(columns=cols_to_drop,inplace=True)

In [54]:
df.head(4)

,Country,Continent,Region,CountryStatus,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

- *index column is imp cause it is used in searching and visualization*
- *it is the default value for x-axis of a chart during visualization*
- *index colum should have unique value*
- *we can make any col to index col using **df.set_index(colname)** *
- *the index colum is accesed via ***df.index statement*** *

In [55]:
df.index

RangeIndex(start=0, stop=195, step=1)

In [56]:
#making country col as the index column
df.set_index('Country',inplace=True)

In [57]:
df.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       ...
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=195)

In [58]:
df.head(3)

,Continent,Region,CountryStatus,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331

In [59]:
#row selection
# 1. df.lock use the index col value to select the rows
# 2. df.ilock use the index value to select the rows

In [60]:
df.loc['China']

Continent                      Asia
Region                 Eastern Asia
CountryStatus    Developing regions
1980                           5123
1981                           6682
1982                           3308
1983                           1863
1984                           1527
1985                           1816
1986                           1960
1987                           2643
1988                           2758
1989                           4323
1990                           8076
1991                          14255
1992                          10846
1993                           9817
1994                          13128
1995                          14398
1996                          19415
1997                          20475
1998                          21049
1999                          30069
2000                          35529
2001                          36434
2002                          31961
2003                          36439
2004                          36619
2005                          42584
2006                          33518
2007                          27642
2008                          30037
2009                          29622
2010                          30391
2011                          28502
2012                          33024
2013                          34129
Name: China, dtype: object

In [61]:
df.iloc[2]

Continent                    Africa
Region              Northern Africa
CountryStatus    Developing regions
1980                             80
1981                             67
1982                             71
1983                             69
1984                             63
1985                             44
1986                             69
1987                            132
1988                            242
1989                            434
1990                            491
1991                            872
1992                            795
1993                            717
1994                            595
1995                           1106
1996                           2054
1997                           1842
1998                           2292
1999                           2389
2000                           2867
2001                           3418
2002                           3406
2003                           3072
2004                           3616
2005                           3626
2006                           4807
2007                           3623
2008                           4005
2009                           5393
2010                           4752
2011                           4325
2012                           3774
2013                           4331
Name: Algeria, dtype: object

In [62]:
df.iloc[2,[0,1,2,3,4]] # from index 2,get me 0,1,2,3,4 columns

Continent                    Africa
Region              Northern Africa
CountryStatus    Developing regions
1980                             80
1981                             67
Name: Algeria, dtype: object

In [63]:
df.iloc[2,3:] #from index 2 get me 3 and above col values

1980      80
1981      67
1982      71
1983      69
1984      63
1985      44
1986      69
1987     132
1988     242
1989     434
1990     491
1991     872
1992     795
1993     717
1994     595
1995    1106
1996    2054
1997    1842
1998    2292
1999    2389
2000    2867
2001    3418
2002    3406
2003    3072
2004    3616
2005    3626
2006    4807
2007    3623
2008    4005
2009    5393
2010    4752
2011    4325
2012    3774
2013    4331
Name: Algeria, dtype: object

In [64]:
df.loc['Japan',['Region','Continent','2010','1990','2000']]

Region       Eastern Asia
Continent            Asia
2010                 1168
1990                  379
2000                 1010
Name: Japan, dtype: object

In [65]:
years=list(map(str,range(1980,2014))) #list of years
print(years)

TypeError: 'Map' object is not callable

In [ ]:
df.loc['Japan',years]

In [ ]:
#2 records and years data
countrynames=['Japan','China','Australia']
df.loc[countrynames,years]

In [ ]:
df.loc[countrynames,years].plot(figsize=(25,8),title='Japan vs China Australia Immigration')

In [ ]:
#2 records and years data
# countrynames=['Japan','China','Australia']
df.loc[countrynames,years].T

In [ ]:
df.loc[countrynames,years].T.plot(figsize=(25,8),title='Japan vs China Australia Immigration')

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(figsize=(25,8),title='Japan vs Australia Immigration')

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(kind='area' ,figsize=(25,8),title='Japan vs Australia Immigration')

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(kind='bar',figsize=(25,8),title='Japan vs Australia Immigration')

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(kind='kde',figsize=(25,8),title='Japan vs Australia Immigration')

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(kind='hist',figsize=(25,8),title='Japan vs Australia Immigration', bins=50)

In [ ]:
df.loc[['Australia','Japan'],years].T.plot(kind='box' ,figsize=(25,8))

In [ ]:
df.loc[['India','China'],years].T.plot(kind='bar',figsize=(25,8),subplots=True,layout=(1,2))
plt.show()

In [ ]:
df.loc[['India','China'],years].T.plot(kind='line',figsize=(25,8),subplots=True,layout=(1,2))

In [ ]:
df.loc[['India','China'],years].T.plot(kind='kde',figsize=(25,8),subplots=True,layout=(1,2))

In [ ]:
df.loc[['India','China'],years].T.plot(kind='hist',figsize=(25,8),subplots=True,layout=(1,2))

In [ ]:
df.loc[['India','China'],years].T.plot(kind='line',figsize=(25,8),subplots=True,layout=(1,2),style=['r:o','g--x'])

In [ ]:
df[years]

In [ ]:
years

In [ ]:
df[years].sum()

In [ ]:
df[years].sum(axis=1)

In [ ]:
df[years]

In [ ]:
df[years].sum()

In [ ]:
df['total']=df[years].sum(axis=1)
df.sort_values(by='total',ascending=False)

In [ ]:
df.head(10)

In [ ]:
df.head(10)[years].T.plot(kind='area',figsize=(25,8),stacked=False)

In [ ]:
df.head(5)[years].T.plot(kind='pie',figsize=(10,10),subplots=True)

In [ ]:
plt.figure(facecolor='White',figsize=(20,10))
df.head(10)['total'].T.plot(kind='pie',subplots=True,autopct="%.1f%%")

In [ ]:
result=df.groupby('CountryStatus')['total'].sum()

In [ ]:
plt.figure(facecolor='White')
result.plot(kind='pie',autopct='%.1f%%')

In [ ]:
#list the continents in order of number of immigration of last 2000 to 2013

In [ ]:
df

In [ ]:
yearsc=list(map(str,range(2000,2014))) #list of years
print(yearsc)

In [ ]:
df.plot(kind='scatter',x='1990',y='2000', marker='o', s=100,c=10,cmap='cool')

**generating maps and showing visualization**

In [ ]:
import folium

In [ ]:
map=folium.Map()
map

In [ ]:
lucknow_map = folium.Map([26.8567,80.9462],zoom_start=12)
lucknow_map

In [ ]:
map=folium.Map(titles='Stamer Toner')
map

****Choropleth Maps****

In [ ]:
df.index

In [ ]:
geo_data= 'world_countries.json'
cols = [df.index,'total']
key ='feature.properties.name'
map = folium.Map()
map.choropleth(
    geo_data = geo_data,
    data = df,
    columns=cols,
    key_on = key,
    fill_color='YlOrRd',
    fill_opacity=.7,
    line_opacity=.3,
    legend_name='Immigration to CANADA from 1980-2013'
)

map